.brand-component-container {
	display: flex;
	gap: 32px;

	flex: 1 0 21%; /* explanation below */
	border: 1px solid #000000;
	border-radius: 8px;
	padding: 16px;
	box-sizing: border-box;
}

@media (max-width: 1048px) {
	.brand-component-container {
		flex: 1 0 100%;
		flex-direction: column;
		align-items: center;
	}

	.brand-component-container
		.brand-component-text-container
		.brand-component-button-container {
		justify-content: center;
	}

	.brand-component-container
		.brand-component-text-container
		.brand-component-image {
		min-width: 20%;
	}
}

.brand-component-container .brand-component-image {
	/* width: 100%; */
	max-width: 200px;
	min-width: 40%;
}

.brand-component-container .brand-component-text-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
}

.brand-component-container .brand-component-text {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.brand-component-text-container .brand-component-button {
	width: fit-content;
	text-transform: none;
	padding: 8px 16px;
}

.brand-component-text-container .brand-component-button-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.image {
	max-width: 400px;
}
.brand-banner {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 90%;
	border: 1px solid #222222;
	border-radius: 8px;
	background-color: #f4f4f4;
	padding: 16px;
}
.image-container {
	display: flex;
	justify-content: center;
}
.info-container {
	display: flex;
	justify-content: left;
	gap: 16px;
	width: 100%;
	flex-direction: column;
	text-align: left !important;
}
.button-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 100%;
	gap: 16px;
}
.topic-section-header-container {
	display: flex;
	flex-direction: column;
	align-items: left;
	gap: 16px;
	text-align: left !important;
	width: 90%;
}
.topic-section-header {
	font-weight: 700 !important;
}

.topic-component {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 90%;
}
.topic-container {
	margin-top: 16px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	border: 1px solid #222222;
	border-radius: 8px;
	flex-direction: column;
	gap: 12px;
	background-color: #f4f4f4;
	padding: 16px;
}
.posts-header-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: left !important;
	gap: 24px;
}
.posts-container {
	width:90%;
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding-top: 64px;
	
}

.posts-inner-container {
	max-width: 100% ;
}

.grid-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 60px;
	grid-column-gap: 12px;
}
.product-section-container {
	width: 90%;
}
.product-section-header {
	display: flex;
	align-items: flex-start;
	margin-top: 64px;
	margin-bottom: 32px;
}
.product-name-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 8px;
	margin-bottom: 8px;
}
/* On smaller screens, show only 2 items per row */
@media (max-width: 768px) {
	.grid-container {
		grid-template-columns: repeat(
			2,
			1fr
		); /* 2 items per row on smaller screens */
	}
}

.brand-list-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 32px;
}

.product-image,
.extended {
	width: 100%;
}
.subheader-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 16px;
	width: 100% !important;
}
@media screen and (max-width: 920px) {
	.logo-pic {
		max-width: calc(100vw - 5em) !important;
	}
	.brand-banner {
		flex-direction: column !important;
	}
	.image {
		max-width: calc(100vw - 6em) !important;
	}
}

.logo-pic {
	max-width: calc(100vw - 2em);
	margin-top: 80px;
}
