/* --------------------------------- Updated BrandPost Component ---------------------------------  */

.brandpost-outer-container {
	display: flex;
	justify-content: center;
	max-width: 600px;
	width: 100%;
}

.brandpost-outer-container.preview {
	max-height: 420px;
}

.brandpost-container.preview {
	align-items: flex-start;
	justify-content: flex-start;
	-webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 80%);
	mask-image: linear-gradient(to bottom, black 0%, transparent 150%);
	overflow: hidden;
	border-bottom: none;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid rgb(34, 34, 34, 0.3);
	border-bottom: none;
	box-shadow: 0px 0px 5px rgba(-2, -4, 1, 0.1);
	min-width: 500px;
}

@media (max-width: 768px) {
	.brandpost-container.preview {
		min-width: fit-content;
		overflow-x: scroll;
	}
}

.brandpost-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 16px;
	box-sizing: border-box;
	width: 100%;
	min-width: fit-content;
}

.brandpost-container.preview:hover {
	border: 1px solid rgb(34, 34, 34, 0.6);
	box-shadow: 0px 0px 5px rgba(-2, -4, 1, 0.3);
	border-bottom: none;
	cursor: pointer;
	border-radius: 5px 5px 0px 0px;
}

.brandpost-container .vote-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* -------------- Primary Section ---------------- */

.brandpost-container .brandpost-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.brandpost-header-container .button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	width: min-content;
}

.brandpost-header-container .report-button {
	padding: 8px;
	height: 36px;
	width: 36px;
	box-sizing: border-box;
}

.report-button .report-icon {
	height: 28px;
	width: 28px;
}

.primary-section-outter-container {
	display: flex;
	flex-direction: row;
	margin-top: 6px;
	width: 100%;
}

.primary-section-outter-container .primary-section {
	display: flex;

	flex-direction: column !important;
	justify-content: center;
	align-items: center;
	padding: 16px 32px;

	box-sizing: border-box;
	gap: 32px;
	min-width: 50%;
	width: 100%;
}

.primary-section-outter-container .vote-section {
	display: flex;
	width: auto;
	margin-top: 32px;
}

.primary-item-image {
	aspect-ratio: 1/1;
	object-fit: scale-down !important;
	border-radius: 5px;
	border: 1px solid rgb(34, 34, 34, 0.3);
	width: clamp(75px, 100%, 175px);
	box-shadow: 0px 0px 5px rgba(-2, -4, 1, 0.1);
}

.primary-section .brandpost-title-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.primary-section .brandpost-topics-container {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	gap: 16px;
	width: 100%;
}

.secondary-section .brandpost-description-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 16px;
	box-sizing: border-box;
	border: 1px solid rgb(34, 34, 34, 0.3);
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(-2, -4, 1, 0.1);
	width: 100%;
}

/* -------------- Secondary Section ---------------- */

.brandpost-container .secondary-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 16px 32px;
	box-sizing: border-box;
	gap: 24px;
	width: 100%;
	min-width: fit-content;
}

.secondary-section .top-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.secondary-section .related-items-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-width: 10%;
	gap: 8px;
	border-radius: 5px;

	margin-top: 32px;
}

.related-items-container .image-container {
	width: 100%;
	/* border: 1px solid rgb(34, 34, 34, 0.3) !important;
	box-shadow: 0px 0px 5px rgba(-2, -4, 1, 0.1); */
}

.related-items-container .item-image {
	aspect-ratio: 1/1;
	height: 100%;
	object-fit: contain !important;
	max-width: 400px;
	border-radius: 5px;
}

.secondary-section .reference-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 12px;
	min-width: fit-content;
}

.reference-container .reference-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 8px 24px;
	box-sizing: border-box;
	width: auto;
	border-radius: 8px;
	width: 100%;
	min-width: fit-content;

	box-shadow: 0px 0px 5px rgba(-2, -4, 1, 0.1);

	border: 1px solid rgba(0, 0, 0, 0.3);
}

.author-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 8px;
	width: 100%;
	min-width: fit-content;

	margin-top: 24px;
}

/* ---------- Other ------------ */
