.brandpost-container {
	display: flex;

	width: 100%;
	padding: 16px;
	box-sizing: border-box;
	gap: 16px;

	border: 1px solid #202020;
	border-radius: 8px;
}

.voted {
	background-color: #f2f2f2;
}

.brandpost-container .vote-count-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 12px;
}

.brandpost-container .brandpost-content-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.brandpost-container .brandpost-info-container {
	display: flex;
}

.create-brandpost-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.create-brandpost-form .dialog-content {
	display: flex;
	flex-direction: column;
	padding: 24px 32px;
	box-sizing: border-box;
	gap: 32px;
}
