.topic-form-component-outer-container {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 100%;
}

.topic-form-component-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	width: 100%;
	border-radius: 8px;
	box-shadow: 0px 0px 5px rgba(-2, -4, 1, 0.1);

	border: 1px solid rgba(0, 0, 0, 0.3);
}

.topic-form-component-container .topic-name {
	padding: 12px 24px;
}

.topic-form-component-container .topic-rating {
	display: flex;
	align-items: center;
	padding: 0px 24px;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.topic-form-component-container .topic-rating-button {
	padding: 8px;
}

.topic-rating-button .cancel-icon {
	animation: fade-in 0.3s ease-in-out;
}

.topic-rating-button .check-icon {
	animation: fade-in 0.3s ease-in-out;
}

.topic-form-component-container .topic-delete-button {
	padding: 8px;
}

/* ------------------------ Topic View Component ------------------------ */

.topic-view-component-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	width: 100%;
	border-radius: 8px;
	box-shadow: 0px 0px 5px rgba(-2, -4, 1, 0.1);

	border: 1px solid rgba(0, 0, 0, 0.3);
	min-width: 150px;
}

@media (max-width: 400px) {
	.topic-view-component-container {
		flex-direction: column;
		padding: 8px 0px;
		gap: 8px;
		box-sizing: border-box;
	}
}

.topic-view-component-container .topic-name {
	padding: 8px 18px;
}

.topic-view-component-container .topic-rating {
	display: flex;
	align-items: center;
	padding: 0px 18px;
}

.topic-rating .rating-icon {
	padding: 0px 4px;
	width: 24px !important;
	height: 24px !important;
}

/* ------------------------ Topic Table Component ------------------------ */

.topic-table-row,
.topic-body-table-row,
.topic-header-row {
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #eeeeee;
	box-shadow: none;
	width: calc(100% - 33px);
	max-width: 100%;
}

.topic-header-row {
	background-color: #eeeeee;
	box-sizing: border-box;
	padding: 8px 24px;
	border-radius: 4px 4px 0px 0px;
}

.topic-header-row > * > * {
	font-weight: 600 !important;
}

.topic-table-row {
	padding: 8px 24px;
	box-sizing: border-box;
}

.topic-table-row {
	transition: 0.4s;
}

.topic-table-row:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.topic-body-table-row {
	padding: 0 16px;
	border-top: none;
	border-bottom: none;
}

.id-cell,
.topic-name-cell,
.topic-is-subtopic-cell,
.topic-created-at-cell,
.topic-updated-at-cell,
.topic-deleted-at-cell,
.more-options-cell {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	padding: 0px !important;
	height: 100%;
	border-bottom: none !important;
}

.id-cell {
	width: 5%;
}

.topic-name-cell {
	width: 15%;
}

.topic-is-subtopic-cell {
	width: 15%;
}

.topic-created-at-cell {
	width: 20%;
}

.topic-updated-at-cell {
	width: 15%;
}

.topic-deleted-at-cell {
	width: 15%;
}

.more-options-cell {
	width: 15%;
	justify-content: flex-end;
}

.flex-in-row {
	flex-direction: row !important;
	gap: 8px;
}

/* ------------------------ Topic Create/Update/Filter Components ------------------------ */

.topic-filter-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.topic-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 24px;
	gap: 20px;

	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.topic-filter-checkbox-container {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
}
