/* ------------------------- Admin Table ------------------------- */

.custom-table-page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
	min-width: min-content;
	box-sizing: border-box;
}

.custom-table-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
}

.loading-icon-style {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-bottom: none !important;
}

.custom-table {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 16px;
	box-sizing: border-box;
}

.custom-table-header {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px 5px 0 0 !important;
	min-width: fit-content;
}

.custom-table-body {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	gap: 10px;
}

.custom-table-footer {
	display: flex !important;
	width: 100%;
	border-bottom: none;
	margin-top: 1rem;
}

.custom-table-footer-row {
	display: flex !important;
	width: 100%;
	justify-content: flex-end;
}

.custom-table-footer-pagination {
	padding-right: 0 !important;
	border-bottom: none !important;
}

.customTableRow-table-row,
.customTableRow-body-table-row {
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #eeeeee;
	box-shadow: none;
	width: calc(100% - 2px); /* remove two borders */
}

.customTableRow-table-row {
	padding: 16px;
}

.custom-table-hover-effects {
	transition: 0.4s;
}

.custom-table-hover-effects:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.customTable-headRow {
	background-color: #eeeeee;
	border-radius: 5px 5px 0 0 !important;
}

.customTableRow-table-row td,
.customTableRow-table-row th {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	padding: 0;
	height: 100%;
	border-bottom: none !important;
}

.customTableRow-body-table-row {
	border-top: none;
	border-bottom: none;
}

.expanded-collapse-row {
	border-bottom: 1px solid #eeeeee;
	border-radius: 0 0 5px 5px;
}

.arrow-cell {
	width: 5%;
}

.custom-table-body-cell {
	word-break: break-word;
	border-bottom: none !important;
	width: 100%;
}

.custom-table-body-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
